<!DOCTYPE html>
<html>
<head>
  <title>Red Eyes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
  <%= javascript_include_tag 'application' %>
  <script>
    redeyes.core.run();
  </script>
</body>
</html>
